.form__heading {
    margin-bottom: 5px;
    color: coral;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.form__paper {
    padding: 1rem!important;
}

.MuiInputBase-root {
    width: 97%;
    margin: 10px 0!important;
}

.form__fileInput {
    margin: 10px 0!important;
}


/* .MuiButtonBase-root {
    width: 97%;
} */

.MuiButton-root {
    width: 100%!important;
    margin: 7px 0!important;
}