.card {
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important;
    border-radius: 15px!important;
    height: 100%!important;
    position: relative!important;
}

.card__media {
    height: 0!important;
    padding-top: 56.25%!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    background-blend-mode: darken!important;
}

.card__overlay1{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.card__overlay2 {
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
}

.card__message {
    padding: 0 16px;
}

.card__details {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}

.card__Actions {
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}